@import "reset.less";

body {
  color: #0b97c4;
  font-family: "helvetica neue", Helvetica, "Open Sans", sans-serif;
}
h1 {
  color: #333;
  font-size: 2em;
}

#time {
  text-align: center; font: 2em "Helvetica Neue";
  margin: 40px 0 ;

  &.finished {
    color: #cc0000;
  }

  .number, .num, .desc {
    display: inline; padding-right:10px; font-size: 1.1em;
  }
  .num {
    font: 2em "Tangerine";
  }
  .desc {
    font: "Helvetica Neue"; font-weight: 100;
  }
  .number:last-child, .num:last-child, .desc:last-child {
    padding-right: 0;
  }
}

#users {
  width: 960px;
  margin: 0 auto;
  .user {
    float: left;
    img {
      width: 32px;
      height: 32px;
    }
  }
}
#graph {
  margin: 20px auto;
  width: 960px;


  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  line {
    stroke: black;
  }

  text {
    font-family: Arial;
    font-size: 9pt;
  }
}

#info {
  width: 480px;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  height: 320px;
  position: absolute;
  display: none;

  .description {
    font-size: 0.8em;
    color: #333;
    margin-left: 68px;
  }

  & > * {
    padding: 10px 20px;
  }
  &.left {
    margin-left: 0;
    display: block;
  }
  &.right {
    margin-left: 480px;
    display: block;
  }
  &.hidden {
    display: none;
  }
}

.left {
  float: left;
  margin-right: 20px;
}


@-webkit-keyframes flashing
{
  0%   {opacity: 0;}
  30%  {opacity: 0.5;}
  100% {opacity: 1;}
}

@-moz-keyframes flashing
{
  0%   {opacity: 0;}
  30%  {opacity: 0.5;}
  100% {opacity: 1;}
}

@keyframes flashing
{
  0%   {opacity: 0;}
  30%  {opacity: 0.5;}
  100% {opacity: 1;}
}

.user {
/*  -webkit-animation: flashing 5s linear infinite;
  -webkit-animation-name: flashing;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-timing-function: linear;
  */
}

#thechart {
}