<div id="time"></div>
<div id="graph"></div>
<div id="users" class="users">
  <div id="info" class="hidden">
    <div class="group"><img id="large_pic" src="" class="largeImage left"/><h1 id="name"></h1></div>
    <div id="description" class="description"></div>
    <div id="followers_count"></div>
    <div id="activity"></div>
    <div id="authority"></div>
  </div>
</div>
<div id="text">
    <h1>They're Revolting</h1>
    <p>Unrest is in the air. The UK's 300 most influential social media users have let the news of their lofty new status go straight to their pretty-little heads. Seduced by the weasel-words and shining-promise of 1-Directional anarcho-inanity, they're banding together to build their Jerusalem on this green and pleasant land.</p>
    <p>Watch as they wield their influence to foment Revolution amongst their tweeps, and foist their own brand of Essex-Boutique-Based-Government on the unsuspecting proleTwitterat of the UK.</p>
    <p>Be afraid kids.</p>
</div>