<div id="time"></div>
<div class="users">
  <% for (var i = 0; i < users.length; i++) { %>
  <div id="tw_<%= users[i].twitter.id %>" class="user">
    <img src="https://si0.twimg.com/profile_images/3380071010/a8a93628a21ff778a316abd3f25b1169_normal.jpeg">
  </div>
  <% } %>
</div>