<div id="time"></div>
<div id="graph"></div>
<div id="users" class="users">
  <div id="info" class="hidden">
    <div class="group"><img id="large_pic" src="" class="largeImage left"/><h1 id="name"></h1></div>
    <div id="description" class="description"></div>
    <div id="followers_count"></div>
    <div id="activity"></div>
    <div id="authority"></div>
  </div>
</div>