<div id="time"></div>
<div id="users" class="users">
  <div id="info" class="hidden">
    <h1 id="name"></h1>
    <div id="description"></div>
    <div id="followers_count"></div>
    <div id="activity"></div>
    <div id="authority"></div>
  </div>
</div>